<h1>New Book</h1>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <H4>Title</H4>
  <%= f.text_field :title %>
  
  
  <h4>body</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Creat Book' %>
<% end %>
